# Checking Airbnb Availability Using Scheduler

In [ ]:
%pip install schedule

In [1]:
import pandas as pd
import numpy as np

In [ ]:
pd.set_option("display.max_columns", 50)

In [13]:
df_listings = pd.read_csv("data/listings.csv")
print(f"Shape of listings: {df_listings.shape}")
display(df_listings.head(3))

Shape of listings: (8748, 18)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2384,Hyde Park - Walk to University of Chicago,2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,125.0,3,250,2024-10-14,2.02,1,343,16,R17000015609
1,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90166,-87.68021,Entire home/apt,81.0,2,569,2025-02-09,2.98,1,275,53,R24000114046
2,10945,The Biddle House (#1),33004,At Home Inn,NaN,Lincoln Park,41.91196,-87.63981,Entire home/apt,187.0,4,117,2025-01-02,0.88,6,260,34,2209984

In [11]:
df_reviews = pd.read_csv("data/reviews.csv.gz")
print(f"Shape of reviews: {df_reviews.shape}")
display(df_reviews.head(3))

Shape of reviews: (463251, 6)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2384,25218143,2015-01-09,14385014,Ivan,it's a wonderful trip experience. I didn't exc...
1,2384,28475392,2015-03-24,16241178,Namhaitou,This is my first trip using Airbnb. I was a li...
2,2384,30974202,2015-04-30,26247321,Cristina,Sólo puedo decir cosas buenas de Rebecca. La h...

In [14]:
df_calendar = pd.read_csv("data/calendar.csv.gz")
print(f"Shape of calendar: {df_calendar.shape}")
display(df_calendar.head(3))

Shape of calendar: (3187677, 7)

C:\Users\Park\AppData\Local\Temp\ipykernel_35424\607884794.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_calendar = pd.read_csv("data/calendar.csv.gz")

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2384,2025-03-15,t,$125.00,NaN,3.0,89.0
1,2384,2025-03-16,t,$125.00,NaN,3.0,89.0
2,2384,2025-03-17,t,$125.00,NaN,3.0,89.0